docs/samples/ESF_kz/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="esf" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SessionService" targetNamespace="esf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="esf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="closeSessionRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:AbstractSessionAwareRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AbstractSessionAwareRequest" abstract="true">
        <xs:sequence>
          <xs:element name="sessionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Идентификатор сессии (см. SessionService)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeSessionResponse">
        <xs:sequence>
          <xs:element name="status" type="tns:sessionStatus">
            <xs:annotation>
              <xs:documentation>Статус сессии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createSessionRequest">
        <xs:sequence>
          <xs:element name="tin" type="xs:string">
            <xs:annotation>
              <xs:documentation>БИН предприятия от имени которого действует пользователь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="projectCode" type="xs:long">
            <xs:annotation>
              <xs:documentation>Код проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="businessProfileType" type="tns:businessProfileType">
            <xs:annotation>
              <xs:documentation>Тип пользователя. Поле является обязательным, если открывается сессия ЛЗЧП, сотрудника ЛЗЧП, руководителя проекта, пользователя работающего в рамках проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="x509Certificate" type="xs:string">
            <xs:annotation>
              <xs:documentation>PEM строковое представление (Base64 Encoded) X.509 сертификата, выданного удостоверяющим центром для прохождения процедур аутентификации и авторизации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="sourceType" type="tns:SourceType">
            <xs:annotation>
              <xs:documentation>Тип клиента</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createSessionResponse">
        <xs:sequence>
          <xs:element name="sessionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Идентификатор сессии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccessDeniedFault">
        <xs:annotation>
          <xs:documentation>При отсутствии у пользователя прав на выполнение данной операции</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BusinessFault">
        <xs:annotation>
          <xs:documentation>При возникновении ошибки в ПО</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="currentSessionStatusRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:AbstractSessionAwareRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="currentSessionStatusResponse">
        <xs:sequence>
          <xs:element name="status" type="tns:sessionStatus">
            <xs:annotation>
              <xs:documentation>Статус сессии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="currentUserProfilesRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:AbstractSessionAwareRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="currentUserProfilesResponse">
        <xs:sequence>
          <xs:element name="profileInfoList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="profileInfo" type="tns:profileInfo">
                  <xs:annotation>
                    <xs:documentation>Список активных профилей для текущего пользователя</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="profileInfo">
        <xs:annotation>
          <xs:documentation>Информация о профиле пользователя</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="iin" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="tin" type="xs:string">
            <xs:annotation>
              <xs:documentation>БИН предприятия от имени которого может действовать пользователь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="businessProfileType" type="tns:businessProfileType">
            <xs:annotation>
              <xs:documentation>Тип пользователя определяющий полномочия в рамках данного предприятия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="status" type="tns:userStatusType">
            <xs:annotation>
              <xs:documentation>Статус пользователя в рамках данного предприятия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="type" type="tns:profileType">
            <xs:annotation>
              <xs:documentation>Тип данного профиля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="projectParticipantType" type="tns:projectParticipantType">
            <xs:annotation>
              <xs:documentation>Тип участника проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="projectCode" type="xs:long">
            <xs:annotation>
              <xs:documentation>Код проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="projectName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SessionClosedFault">
        <xs:annotation>
          <xs:documentation>При попытке выполнить действие, когда сессия пользователя была закрыта вызовом соответствующего метода либо по таймауту</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="currentUserRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:AbstractSessionAwareRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="currentUserResponse">
        <xs:sequence>
          <xs:element name="user" type="tns:User">
            <xs:annotation>
              <xs:documentation>Объект представляющий информацию о текущем пользователе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="User">
        <xs:annotation>
          <xs:documentation>Объект представляющий информацию о текущем пользователе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="login" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="email" type="xs:string">
            <xs:annotation>
              <xs:documentation>Адрес электронной почты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="mobile" type="xs:string">
            <xs:annotation>
              <xs:documentation>Мобильный телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="issueDate" type="xs:string">
            <xs:annotation>
              <xs:documentation>Дата выдачи удостоверяющего документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="issuedBy" type="xs:string">
            <xs:annotation>
              <xs:documentation>Кем выдан удостоверяющий документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="passportNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>Номер удостоверяющего документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="status" type="tns:userStatusType">
            <xs:annotation>
              <xs:documentation>Статус текущего пользователя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="reason" type="xs:string">
            <xs:annotation>
              <xs:documentation>Причина блокировки пользователя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="taxpayer" type="tns:Taxpayer">
            <xs:annotation>
              <xs:documentation>Информация о пользователе полученная из ЕХД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Taxpayer">
        <xs:annotation>
          <xs:documentation>Налогоплательщик</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="tin" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН/БИН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="nameRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="lastNameRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Фамилия на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="firstNameRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Имя на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="middleNameRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Отчество на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="lastNameKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Фамилия на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="firstNameKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Имя на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="middleNameKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Отчество на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="nameKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="addressRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Адрес на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="addressKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Адрес на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="certificateSeries" type="xs:string">
            <xs:annotation>
              <xs:documentation>Серия свидетельства плательщика НДС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="certificateNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>Номер свидетельства плательщика НДС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="resident" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Является ли налогоплательщик резидентом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="headOffice" type="tns:Taxpayer">
            <xs:annotation>
              <xs:documentation>Головной офис предприятия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="type" type="tns:EnterpriseType">
            <xs:annotation>
              <xs:documentation>Тип налогоплательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="resourceUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="accounts">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="settlementAccount" type="tns:SettlementAccount">
                  <xs:annotation>
                    <xs:documentation>Банковский счет</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="enterpriseAdministrator" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН директора предприятия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="budgetIin" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН ответственного работника по расчетам с бюджетом ЮЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="kogd" type="xs:string">
            <xs:annotation>
              <xs:documentation>Код органа государственных доходов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SettlementAccount">
        <xs:annotation>
          <xs:documentation>Банковский счет</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="id" type="xs:long">
            <xs:annotation>
              <xs:documentation>Идентификатор счёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="taxpayerTin" type="xs:string">
            <xs:annotation>
              <xs:documentation>ИИН налогоплательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="bank" type="tns:Bank">
            <xs:annotation>
              <xs:documentation>Банковские реквизиты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="accountType" type="xs:int">
            <xs:annotation>
              <xs:documentation>Тип счёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="account" type="xs:string">
            <xs:annotation>
              <xs:documentation>Счёт (ИИК)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="dateOpen" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Дата открытия счёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="dateClose" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Дата закрытия счёта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bank">
        <xs:annotation>
          <xs:documentation>Банковские реквизиты</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="id" type="xs:long">
            <xs:annotation>
              <xs:documentation>Идентификатор банка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="nameRu" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование банка на русском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="nameKz" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование банка на казахском языке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="bik" type="xs:string">
            <xs:annotation>
              <xs:documentation>БИК банка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="code" type="xs:string">
            <xs:annotation>
              <xs:documentation>Код банка (БИК старого формата)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="tin" type="xs:string">
            <xs:annotation>
              <xs:documentation>БИН банка как ЮЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="rnn" type="xs:string">
            <xs:annotation>
              <xs:documentation>РНН банка как ЮЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="active" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Статус банка</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeSessionByCredentialsRequest">
        <xs:sequence>
          <xs:element name="tin" type="xs:string">
            <xs:annotation>
              <xs:documentation>БИН предприятия от имени которого действует пользователь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="projectCode" type="xs:long">
            <xs:annotation>
              <xs:documentation>Код проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="businessProfileType" type="tns:businessProfileType">
            <xs:annotation>
              <xs:documentation>Тип пользователя. Поле является обязательным, если открывается сессия ЛЗЧП или сотрудника ЛЗЧП.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="x509Certificate" type="xs:string">
            <xs:annotation>
              <xs:documentation>PEM строковое представление (Base64 Encoded) X.509 сертификата, выданного удостоверяющим центром для прохождения процедур аутентификации и авторизации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="sessionStatus">
        <xs:annotation>
          <xs:documentation>Статус сессии</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK">
            <xs:annotation>
              <xs:documentation>Сессия валидна</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CLOSED">
            <xs:annotation>
              <xs:documentation>Сессия закрыта</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NOT_FOUND">
            <xs:annotation>
              <xs:documentation>Сессия не найдена</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="businessProfileType">
        <xs:annotation>
          <xs:documentation>Тип пользователя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADMIN_ENTERPRISE">
            <xs:annotation>
              <xs:documentation>Руководитель юридического лица</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="USER">
            <xs:annotation>
              <xs:documentation>Пользователь приглашенный в предприятие</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ENTREPRENEUR">
            <xs:annotation>
              <xs:documentation>Индивидуальный предприниматель</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ENTREPRENEUR_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в ИП</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="INDIVIDUAL">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="LAWYER">
            <xs:annotation>
              <xs:documentation>ЛЗЧП: Адвокат</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BAILIFF">
            <xs:annotation>
              <xs:documentation>ЛЗЧП: Частный судебный исполнитель</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MEDIATOR">
            <xs:annotation>
              <xs:documentation>ЛЗЧП: Медиатор</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NOTARY">
            <xs:annotation>
              <xs:documentation>ЛЗЧП: Нотариус</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="LAWYER_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в ЛЗЧП: Адвокат</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BAILIFF_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в ЛЗЧП: Частный судебный исполнитель</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MEDIATOR_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в ЛЗЧП: Медиатор</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NOTARY_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в ЛЗЧП: Нотариус</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PROJECT_ADMIN">
            <xs:annotation>
              <xs:documentation>Профиль руководителя проекта (управляет пользователями в рамках проекта)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PROJECT_USER">
            <xs:annotation>
              <xs:documentation>Пользователь работающий в рамках проекта</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SourceType">
        <xs:annotation>
          <xs:documentation>Тип системы</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="BROWSER">
            <xs:annotation>
              <xs:documentation>Браузер</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DESKTOP">
            <xs:annotation>
              <xs:documentation>Десктоп</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ERP_1C">
            <xs:annotation>
              <xs:documentation>Интеграционный механизм системы 1С</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ERP_SAP">
            <xs:annotation>
              <xs:documentation>Интеграционный механизм системы ERP-система SAP</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OTHER">
            <xs:annotation>
              <xs:documentation>Другая система</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="userStatusType">
        <xs:annotation>
          <xs:documentation>Статус пользователя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE">
            <xs:annotation>
              <xs:documentation>Активный</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BLOCKED">
            <xs:annotation>
              <xs:documentation>Заблокированный администратором системы</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ENTERPRISE_ADMIN_CHANGE_BLOCKED">
            <xs:annotation>
              <xs:documentation>Заблокированный при смене руководителя предприятия</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ENTERPRISE_BLOCKED">
            <xs:annotation>
              <xs:documentation>Заблокированный при блокировке предприятия</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="profileType">
        <xs:annotation>
          <xs:documentation>Тип профиля</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="GENERAL">
            <xs:annotation>
              <xs:documentation>Общий профиль</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PROJECT">
            <xs:annotation>
              <xs:documentation>Профиль созданный в рамках проекта</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="projectParticipantType">
        <xs:annotation>
          <xs:documentation>Тип участника проекта</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ATTORNEY">
            <xs:annotation>
              <xs:documentation>Поверенный (схема Поверенный - Доверитель)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OPERATOR">
            <xs:annotation>
              <xs:documentation>Оператор (схема Оператор - Подрядчик)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TRUSTER">
            <xs:annotation>
              <xs:documentation>Доверитель (схема Поверенный - Доверитель)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CONTRACTOR">
            <xs:annotation>
              <xs:documentation>Подрядчик (схема Оператор - Подрядчик)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EnterpriseType">
        <xs:annotation>
          <xs:documentation>Тип налогоплательщика</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NOT_SET">
            <xs:annotation>
              <xs:documentation>Отсутствует в справочнике</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="INDIVIDUAL">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="INDIVIDUAL_ENTREPRENEUR">
            <xs:annotation>
              <xs:documentation>Индивидуальный предприниматель</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PRIVATE_ENTERPRISE">
            <xs:annotation>
              <xs:documentation>Частное предприятие</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="STATE_ENTERPRISE">
            <xs:annotation>
              <xs:documentation>Государственное предприятие/учреждение</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="accessDeniedException" nillable="true" type="tns:AccessDeniedFault" />
      <xs:element name="businessException" nillable="true" type="tns:BusinessFault" />
      <xs:element name="sessionClosedException" nillable="true" type="tns:SessionClosedFault" />
      <xs:element name="closeSessionRequest" nillable="true" type="tns:closeSessionRequest" />
      <xs:element name="closeSessionResponse" nillable="true" type="tns:closeSessionResponse" />
      <xs:element name="createSessionRequest" nillable="true" type="tns:createSessionRequest" />
      <xs:element name="createSessionResponse" nillable="true" type="tns:createSessionResponse" />
      <xs:element name="currentSessionStatusRequest" nillable="true" type="tns:currentSessionStatusRequest" />
      <xs:element name="currentSessionStatusResponse" nillable="true" type="tns:currentSessionStatusResponse" />
      <xs:element name="currentUserProfilesRequest" nillable="true" type="tns:currentUserProfilesRequest" />
      <xs:element name="currentUserProfilesResponse" nillable="true" type="tns:currentUserProfilesResponse" />
      <xs:element name="currentUserRequest" nillable="true" type="tns:currentUserRequest" />
      <xs:element name="currentUserResponse" nillable="true" type="tns:currentUserResponse" />
      <xs:element name="closeSessionByCredentialsRequest" nillable="true" type="tns:closeSessionByCredentialsRequest" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="closeSession">
    <wsdl:part name="closeSessionRequest" element="tns:closeSessionRequest" />
  </wsdl:message>
  <wsdl:message name="currentSessionStatusResponse">
    <wsdl:part name="currentSessionStatusResponse" element="tns:currentSessionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="createSessionResponse">
    <wsdl:part name="createSessionResponse" element="tns:createSessionResponse" />
  </wsdl:message>
  <wsdl:message name="BusinessException">
    <wsdl:part name="BusinessException" element="tns:businessException" />
  </wsdl:message>
  <wsdl:message name="currentUser">
    <wsdl:part name="currentUserRequest" element="tns:currentUserRequest" />
  </wsdl:message>
  <wsdl:message name="currentUserProfilesResponse">
    <wsdl:part name="currentUserProfilesResponse" element="tns:currentUserProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="closeSessionByCredentials">
    <wsdl:part name="closeSessionByCredentialsRequest" element="tns:closeSessionByCredentialsRequest" />
  </wsdl:message>
  <wsdl:message name="createSession">
    <wsdl:part name="createSessionRequest" element="tns:createSessionRequest" />
  </wsdl:message>
  <wsdl:message name="currentSessionStatus">
    <wsdl:part name="currentSessionStatusRequest" element="tns:currentSessionStatusRequest" />
  </wsdl:message>
  <wsdl:message name="closeSessionByCredentialsResponse">
    <wsdl:part name="closeSessionResponse" element="tns:closeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SessionClosedException">
    <wsdl:part name="SessionClosedException" element="tns:sessionClosedException" />
  </wsdl:message>
  <wsdl:message name="closeSessionResponse">
    <wsdl:part name="closeSessionResponse" element="tns:closeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="currentUserProfiles">
    <wsdl:part name="currentUserProfilesRequest" element="tns:currentUserProfilesRequest" />
  </wsdl:message>
  <wsdl:message name="AccessDeniedException">
    <wsdl:part name="AccessDeniedException" element="tns:accessDeniedException" />
  </wsdl:message>
  <wsdl:message name="currentUserResponse">
    <wsdl:part name="currentUserResponse" element="tns:currentUserResponse" />
  </wsdl:message>
  <wsdl:portType name="SessionService">
    <wsdl:documentation>Сервис аутентификации</wsdl:documentation>
    <wsdl:operation name="closeSession">
      <wsdl:documentation>Закрыть сессию, созданную на ESB для работы с бизнес методами</wsdl:documentation>
      <wsdl:input name="closeSession" message="tns:closeSession" />
      <wsdl:output name="closeSessionResponse" message="tns:closeSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <wsdl:documentation>Создать сессию на ESB, необходимую для работы с бизнес методами</wsdl:documentation>
      <wsdl:input name="createSession" message="tns:createSession" />
      <wsdl:output name="createSessionResponse" message="tns:createSessionResponse" />
      <wsdl:fault name="AccessDeniedException" message="tns:AccessDeniedException" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="currentSessionStatus">
      <wsdl:documentation>Вернуть статус сессии</wsdl:documentation>
      <wsdl:input name="currentSessionStatus" message="tns:currentSessionStatus" />
      <wsdl:output name="currentSessionStatusResponse" message="tns:currentSessionStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="currentUserProfiles">
      <wsdl:documentation>Вернуть информацию об активных профилях для текущего пользователя</wsdl:documentation>
      <wsdl:input name="currentUserProfiles" message="tns:currentUserProfiles" />
      <wsdl:output name="currentUserProfilesResponse" message="tns:currentUserProfilesResponse" />
      <wsdl:fault name="SessionClosedException" message="tns:SessionClosedException" />
    </wsdl:operation>
    <wsdl:operation name="currentUser">
      <wsdl:documentation>Вернуть информацию о текущем пользователе</wsdl:documentation>
      <wsdl:input name="currentUser" message="tns:currentUser" />
      <wsdl:output name="currentUserResponse" message="tns:currentUserResponse" />
      <wsdl:fault name="SessionClosedException" message="tns:SessionClosedException" />
    </wsdl:operation>
    <wsdl:operation name="closeSessionByCredentials">
      <wsdl:documentation>Закрыть сессию, созданную на ESB для работы с бизнес методами</wsdl:documentation>
      <wsdl:input name="closeSessionByCredentials" message="tns:closeSessionByCredentials" />
      <wsdl:output name="closeSessionByCredentialsResponse" message="tns:closeSessionByCredentialsResponse" />
      <wsdl:fault name="AccessDeniedException" message="tns:AccessDeniedException" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionServiceSoapBinding" type="tns:SessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="closeSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="closeSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="closeSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedException">
        <soap:fault use="literal" name="AccessDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="currentSessionStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="currentSessionStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="currentSessionStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currentUserProfiles">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="currentUserProfiles">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="currentUserProfilesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SessionClosedException">
        <soap:fault use="literal" name="SessionClosedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="currentUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="currentUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="currentUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SessionClosedException">
        <soap:fault use="literal" name="SessionClosedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeSessionByCredentials">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="closeSessionByCredentials">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="closeSessionByCredentialsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedException">
        <soap:fault use="literal" name="AccessDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="SessionServicePort" binding="tns:SessionServiceSoapBinding">
      <soap:address location="https://test3.esf.kgd.gov.kz:8443/esf-web/ws/api1/SessionService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>